<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong class="comments">Comments (<%= @post.comments.size %>):</strong>


  <%= form_for([@post, @comment]) do |f| %>
    <%= f.text_area :content %>
    <%= f.submit %>
  <% end %>

  <% @post.comments.each do |comment| %>
  <p><%= comment.content %></p>
  <% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>